<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<div class="container" style="display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
  <h1>메인 화면</h1>
  <a href="/login/page">로그인 화면</a>

  <h1>JWT 토큰</h1>
  <p>세션에 저장된 JWT: <span th:text="${session.JWT_TOKEN}"></span></p>
</div>

<script th:inline="javascript">
  const token = [[${session.JWT_TOKEN}]];
  console.log(token);
</script>
</body>
</html>